<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" /> -->
        <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->
        <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
        <title>Map Base</title>
        <link rel="icon" href="./static/jpg/取消.png" />
        <link rel="stylesheet" href="./static/css/mapbox-gl.css" type="text/css" />
        <!-- <link rel="stylesheet" href="./static/ali_icon/iconfont.css" type="text/css" /> -->
        <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_1930841_eyrn5fy7swk.css" type="text/css" /> -->
        <script type="text/javascript" src="./static/js/mapbox-gl.js"></script>
        <script type="text/javascript" src="./static/js/GeoGlobeJS.min.js"></script>
        <script type="text/javascript" src="./static/js/echarts-all-3.js"></script>
        <script type="text/javascript" src="./static/js/EchartsLayer.js"></script>
        <script type="text/javascript" src="./static/js/stats.min.js"></script>
        <script type="text/javascript" src="./static/js/d3.min.js"></script>
        <script type="text/javascript" src="./static/js/threebox.min.js"></script>
        <!-- <script type="text/javascript" src="./static/Cesium152/Cesium.js"></script>
        <script type="text/javascript" src="./static/Cesium152/Cesium_ext_min.js"></script>
        <script type="text/javascript" src="./static/Cesium152/Cesium_GGS_min.js"></script>
        <link rel="stylesheet" href="./static/Cesium152/Widgets/widgets.css" type="text/css" /> -->
        <script type="text/javascript" src="./static/CesiumAPI/Cesium.js"></script>
        <script type="text/javascript" src="./static/CesiumAPI/Cesium_ext_min.js"></script>
        <!-- <script type="text/javascript" src="./static/CesiumAPI/Cesium_GGS_min.js"></script> -->
        <link rel="stylesheet" href="./static/CesiumAPI/Widgets/widgets.css" type="text/css" />
        <!-- <script type="text/javascript" src="./static/Cesium14/Cesium.js"></script>
        <script type="text/javascript" src="./static/Cesium14/Cesium_ext_min.js"></script>
        <link rel="stylesheet" href="./static/Cesium14/Widgets/widgets.css" type="text/css" /> -->
        <script type="text/javascript" src="./static/gui/dat.gui.min.js"></script>
    </head>
    <body>
        <div id="map" style="width: 100%;height: 800px;"></div>
    </body>
    <script>
        // //定义配置对象
        // var Cfg = {};
        // //系统主机IP地址
        // Cfg.host = window.location.host;
        // //项目名称
        // Cfg.projectName = window.location.pathname.split('/')[1];
        // //代理服务地址
        // Cfg.proxyHostUrl = 'http://172.17.0.148:8080/geomap-api/proxy?url=';
        // //包含source和layer的样式，cartodb地图
        // Cfg.style = {
        //     version: 8,
        //     sources: {
        //         cartodb: {
        //             type: 'raster',
        //             tiles: ['http://b.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png'],
        //             tileSize: 256,
        //         },
        //     },
        //     layers: [
        //         {
        //             id: '1',
        //             type: 'raster',
        //             source: 'cartodb',
        //         },
        //     ],
        // };
        // //构造地图对象
        // var map = new GeoGlobe.Map({
        //     style: Cfg.style,
        //     container: 'map',
        //     zoom: 1,
        //     bearing: 0,
        //     pitch: 30,
        //     units: 'degrees',
        //     center: [0, 0],
        // });

        // var plugins = {
        //     mapx: {
        //         global: {
        //             mapCRS: {
        //                 topTileExtent: [-180, -270, 180, 90],
        //                 coordtransform: 'none',
        //             },
        //             // "center": [115.95, 27.350],
        //             center: [115.95, 26.9],
        //             zoom: 7,
        //             pitch: 40,
        //             is3Dpitching: false,
        //             pitchWithRotate: false,
        //             dragRotate: false,
        //             default_scheme: 'img',
        //             // "proxy-url": "http://192.168.42.50:8989/ProxyServlet/proxyHandler?url="
        //             'proxy-url': 'http://172.17.0.148:8080/proxy/ProxyHandler?url=',
        //         },
        //         baselayers: {
        //             // "vec": [{
        //             // 	"type": "raster",
        //             // 	"tiles": [
        //             // 		"http://t0.tianditu.com/vec_c/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=vec&STYLE=default&TILEMATRIXSET=c&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=tiles&tk=0e3cbfd30acaa4fa59360cefad58d97f"
        //             // 	],
        //             // 	"tileSize": 256
        //             // }, {
        //             // 	"type": "raster",
        //             // 	"tiles": [
        //             // 		"http://t0.tianditu.com/cva_c/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=cva&STYLE=default&TILEMATRIXSET=c&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=tiles&tk=0e3cbfd30acaa4fa59360cefad58d97f"
        //             // 	],
        //             // 	"tileSize": 256
        //             // }],
        //             img: [
        //                 //   {
        //                 //     type: "raster",
        //                 //     tiles: [
        //                 //       "http://192.168.100.240:9010/jxslt/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=jxslt&STYLE=jxslt&TILEMATRIXSET=jxslt_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile",
        //                 //     ],
        //                 //     tileSize: 256,
        //                 //   },
        //                 //   {
        //                 //     type: "raster",
        //                 //     tiles: [
        //                 //       "http://192.168.100.240:9010/dem_ditu/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=jxdem5_10&STYLE=jxdem5_10&TILEMATRIXSET=jxdem5_10_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile",
        //                 //     ],
        //                 //     tileSize: 256,
        //                 //   },
        //                 //   {
        //                 //     type: "raster",
        //                 //     tiles: [
        //                 //       "http://192.168.100.240:9010/jxdem6_10/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=jxdem6_10&STYLE=jxdem6_10&TILEMATRIXSET=jxdem6_10_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile",
        //                 //     ],
        //                 //     tileSize: 256,
        //                 //   },
        //                 {
        //                     //背景底图
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://192.168.100.240:9010/jxzb/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=jxzb&STYLE=jxzb&TILEMATRIXSET=jxzb_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                 },
        //                 {
        //                     // 江西服务
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://192.168.100.240:9010/dpyx/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=jxyx&STYLE=jxyx&TILEMATRIXSET=jxyx_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                 },
        //                 //   {
        //                 //     type: "raster",
        //                 //     tiles: [
        //                 //       "http://192.168.100.240:9010/jxbj6_13/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=jxbj6_13&STYLE=jxbj6_13&TILEMATRIXSET=jxbj6_13_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile",
        //                 //     ],
        //                 //     tileSize: 256,
        //                 //   },
        //             ],
        //             lySpec: [
        //                 {
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://172.17.0.148:8080/proxy/ProxyHandler?url=http://192.168.100.240:9010/gjly_ly_dt/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=gjly_ly_dt&STYLE=gjly_ly_dt&TILEMATRIXSET=gjly_ly_dt_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                     // 赣江流域瓦片
        //                 },
        //                 {
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://172.17.0.148:8080/proxy/ProxyHandler?url=http://192.168.100.240:9010/fhly_ly_dt/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=fhly_ly_dt&STYLE=fhly_ly_dt&TILEMATRIXSET=fhly_ly_dt_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                     // 抚河流域瓦片
        //                 },
        //                 {
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://172.17.0.148:8080/proxy/ProxyHandler?url=http://192.168.100.240:9010/cjly_ly_dt/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=cjly_ly_dt&STYLE=cjly_ly_dt&TILEMATRIXSET=cjly_ly_dt_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                     // 长江流域瓦片
        //                 },
        //                 {
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://172.17.0.148:8080/proxy/ProxyHandler?url=http://192.168.100.240:9010/xjly_ly_dt/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=xjly_ly_dt&STYLE=xjly_ly_dt&TILEMATRIXSET=xjly_ly_dt_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                     // 信江流域瓦片
        //                 },
        //                 {
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://172.17.0.148:8080/proxy/ProxyHandler?url=http://192.168.100.240:9010/xhly_ly_dt/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=xhly_ly_dt&STYLE=xhly_ly_dt&TILEMATRIXSET=xhly_ly_dt_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                     // 修河流域瓦片
        //                 },
        //                 {
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://172.17.0.148:8080/proxy/ProxyHandler?url=http://192.168.100.240:9010/rhly_ly_dt/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=rhly_ly_dt&STYLE=rhly_ly_dt&TILEMATRIXSET=rhly_ly_dt_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                     // 饶河流域瓦片
        //                 },
        //                 {
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://172.17.0.148:8080/proxy/ProxyHandler?url=http://192.168.100.240:9010/pyhly_ly_dt/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=pyhly_ly_dt&STYLE=pyhly_ly_dt&TILEMATRIXSET=pyhly_ly_dt_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                     // 鄱阳湖流域瓦片
        //                 },
        //                 {
        //                     type: 'raster',
        //                     tiles: [
        //                         'http://172.17.0.148:8080/proxy/ProxyHandler?url=http://192.168.100.240:9010/jxhld_dt/wmts?SERVICE=WMTS&VERSION=1.0.0&REQUEST=GetTile&LAYER=gjly_hld&STYLE=gjly_hld&TILEMATRIXSET=gjly_hld_Matrix_0&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=image/tile',
        //                     ],
        //                     tileSize: 256,
        //                     // 江西流域
        //                 },
        //             ],
        //             // img: [
        //             //   {
        //             //     type: "raster",
        //             //     tiles: [
        //             //       "http://t0.tianditu.com/img_c/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=img&STYLE=default&TILEMATRIXSET=c&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=tiles&tk=0e3cbfd30acaa4fa59360cefad58d97f",
        //             //     ],
        //             //     tileSize: 256,
        //             //   },
        //             //   {
        //             //     type: "raster",
        //             //     tiles: [
        //             //       "http://t0.tianditu.com/cva_c/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=cva&STYLE=default&TILEMATRIXSET=c&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=tiles&tk=0e3cbfd30acaa4fa59360cefad58d97f",
        //             //     ],
        //             //     tileSize: 256,
        //             //   },
        //             // ],
        //         },
        //     },
        // };

        // let map,
        //     opt,
        //     ctx = plugins.mapx,
        //     cfg = ctx.global;

        // opt = {
        //     container: 'map',
        //     // style: {
        //     //     version: 8,
        //     //     glyphs: 'lib/resource/pbf/{fontstack}/{range}.pbf',
        //     //     sources: {},
        //     //     layers: [],
        //     // },

        //     style: {
        //         version: 8,
        //         glyphs: 'lib/resource/pbf/{fontstack}/{range}.pbf',
        //         sources: {
        //             // cartodb: {
        //             //     type: 'raster',
        //             //     tiles: ['http://b.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png'],
        //             //     tileSize: 256,
        //             // },
        //         },
        //         layers: [
        //             // {
        //             //     id: '1',
        //             //     type: 'raster',
        //             //     source: 'cartodb',
        //             // },
        //         ],
        //     },
        //     zoom: cfg.zoom,
        //     center: cfg.center,
        //     pitch: cfg.pitch,
        //     // is3Dpitching: cfg.is3Dpitching,
        //     // pitchWithRotate: cfg.pitchWithRotate,
        //     // dragRotate: cfg.dragRotate,
        //     is3Dpitching: true,
        //     pitchWithRotate: true,
        //     dragRotate: true,
        // };
        // opt.mapCRS = cfg.mapCRS;
        // //console.log(opt);
        // GeoGlobe.Request.setProxyHost(cfg['proxy-url']);
        // map = new GeoGlobe.Map(opt);

        // map.on('load', () => {
        //     // 模拟一个空图层用于底图切换定位·~
        //     let id = 'static-layer';
        //     map.addSource(id, {
        //         type: 'geojson',
        //         data: {
        //             type: 'FeatureCollection',
        //             features: [],
        //         },
        //     });
        //     map.addLayer({
        //         id: id,
        //         type: 'circle',
        //         source: id,
        //         paint: {},
        //     });

        //     // 默认加vec底图·~
        //     _change_maptype(cfg.default_scheme);

        //     // 添加江西省市界
        //     addPolygonXZQH();
        // });

        // //构造THREE可视化图层
        // var threebox = new GeoGlobe.Visuals.Three();
        // //绑定鼠标点击事件
        // threebox.on('overlayerclick', function(e) {
        //     var xyz = threebox.unprojectFromWorld(e.param.pickedInfos[0].point);
        //     alert(e.param.info.userData.attributes.OriginalData.properties.name + '\n经纬度及高程:' + xyz);
        // });
        // //绑定鼠标移动事件
        // threebox.on('overlayerhover', function(e) {
        //     console.info(e);
        // });
        // //添加到地图中
        // threebox.addTo(map);
        // //构造三维弧线图层
        // var curveLayer = new GeoGlobe.Visuals.Three.CurveLayer({
        //     id: '3D curve',
        //     data: [
        //         {
        //             type: 'Feature',
        //             properties: {
        //                 name: '武汉->莫斯科',
        //                 width: 1,
        //                 curveness: 0.8,
        //                 color: 'red',
        //             },
        //             geometry: {
        //                 type: 'LineString',
        //                 coordinates: [
        //                     [114.2578125, 30.600093873550072],
        //                     [116.6171875, 30.751849391735284],
        //                 ],
        //             },
        //         },
        //         {
        //             type: 'Feature',
        //             properties: {
        //                 name: '开普敦->莫斯科',
        //                 width: 5,
        //                 curveness: 0.2,
        //                 color: 'green',
        //             },
        //             geometry: {
        //                 type: 'LineString',
        //                 coordinates: [
        //                     [18.45703125, -33.925129700071984],
        //                     [37.6171875, 55.751849391735284],
        //                 ],
        //             },
        //         },
        //         {
        //             type: 'Feature',
        //             properties: {
        //                 name: '洛杉矶->纽约->巴黎->莫斯科',
        //                 width: 3,
        //                 curveness: 0.3,
        //                 color: 'yellow',
        //             },
        //             geometry: {
        //                 type: 'LineString',
        //                 coordinates: [
        //                     [-118.21289062499999, 34.05265942137599],
        //                     [-74.00390625, 40.730608477796636],
        //                     [2.373046875, 48.86471476180277],
        //                     [37.6171875, 55.751849391735284],
        //                 ],
        //             },
        //         },
        //     ],
        //     texture:
        //         'http://172.17.0.148:8080/proxy/ProxyHandler?url=http://192.168.42.50:8888/geomap-api/JsCodeDemo_new/images/lensflare.png',

        //     visible: true,
        // });
        // //添加到THREE图层
        // curveLayer.addTo(threebox);
        // //绘制
        // threebox.render();
        // console.log(map._visuals);

        // function _change_maptype(type) {
        //     // let map = window.mapx_store.map,
        //     //     ctx = app_context.plugins.mapx,
        //     let sequnse = 0;

        //     // // 同类型不切换·~
        //     // if (this.map_type == type) {
        //     //     return;
        //     // }
        //     this.map_type = type;

        //     for (let i = 0; i < sequnse; i++) {
        //         map.removeLayerAndSource('ol-' + i);
        //     }
        //     sequnse = 0;
        //     let layers = ctx.baselayers[type];
        //     for (let j in layers) {
        //         let id = 'ol-' + sequnse;
        //         let o = $.extend({}, layers[j]);
        //         o['tiles'][0] = ctx['global']['proxy-url'] + o['tiles'][0];
        //         map.addSource(id, o);
        //         let layer_opt = {
        //             id: id,
        //             type: 'raster',
        //             source: id,
        //             paint: {
        //                 'raster-opacity': 1,
        //             },
        //         };
        //         if (typeof layers[j].minzoom != 'undefined' || typeof layers[j].maxzoom != 'undefined') {
        //             layer_opt = $.extend(layer_opt, {
        //                 minzoom: layers[j].minzoom,
        //                 maxzoom: layers[j].maxzoom,
        //             });
        //         }
        //         map.addLayer(layer_opt, 'static-layer');
        //         sequnse++;
        //     }
        //     console.log('>>>', map.style, '\n>>>', ctx, '\n>>>', sequnse);
        // }

        // function addPolygonXZQH() {
        //     let that = this;
        //     let map = window.mapx_store.map;
        //     let url = app_context.PROXY_URL + app_context.xzqh_url;
        //     let featureTypeName = app_context.xzqh_featureType;
        //     let shiyeQueryVersion = '1.0.0';
        //     //构造wfs查询对象
        //     var wfsQueryObj = new GeoGlobe.Query.WFSQuery(
        //         url, //服务地址
        //         featureTypeName, //要素分类名称即图层名称
        //         {
        //             geometryName: 'GEOMETRY',
        //             format:
        //                 shiyeQueryVersion === '1.1.0'
        //                     ? new GeoGlobe.Format.GML.v3({
        //                           xy: true,
        //                       })
        //                     : new GeoGlobe.Format.GML.v2({
        //                           xy: true,
        //                       }),
        //             version: shiyeQueryVersion,
        //             //限制查询的结果数
        //             maxFeatures: 9999,
        //         }
        //     );
        //     wfsQueryObj.query('', function(data) {
        //         if (data) {
        //             map.addSource('reliefArea', {
        //                 type: 'geojson',
        //                 data: data.geojson,
        //             });
        //             that.to_point_for_polygon(data.geojson.features);
        //             //添加文字
        //             for (let i in that.cp_data.features) {
        //                 let cp = that.cp_data.features[i];
        //                 let name = cp.properties.NAME;
        //                 let m = new mapboxgl.Marker({
        //                     offset: [-30, -15],
        //                 });
        //                 if (name == '上饶市') {
        //                     m.setLngLat([117.98217773437499, 28.44937385955666]);
        //                 } else {
        //                     m.setLngLat(cp.geometry.coordinates);
        //                 }
        //                 m._element.innerHTML =
        //                     "<div class='marker'>" + "<div class='boundary-view-marker'><span>" + name + '</span></div></div>';
        //                 m.addTo(map);
        //             }
        //         }
        //     });
        // }
    </script>
</html>
