<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" /> -->
        <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->
        <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
        <title>Map Base</title>
        <link rel="icon" href="./static/jpg/取消.png" />
        <link rel="stylesheet" href="./static/css/mapbox-gl.css" type="text/css" />
        <!-- <link rel="stylesheet" href="./static/ali_icon/iconfont.css" type="text/css" /> -->
        <link rel="stylesheet" href="//at.alicdn.com/t/font_1930841_eyrn5fy7swk.css" type="text/css" />
        <script type="text/javascript" src="./static/js/mapbox-gl.js"></script>
        <script type="text/javascript" src="./static/js/GeoGlobeJS.min.js"></script>
        <script type="text/javascript" src="./static/js/echarts-all-3.js"></script>
        <script type="text/javascript" src="./static/js/EchartsLayer.js"></script>
        <script type="text/javascript" src="./static/js/stats.min.js"></script>
        <script type="text/javascript" src="./static/js/d3.min.js"></script>
        <!-- <script type="text/javascript" src="./static/Cesium152/Cesium.js"></script>
        <script type="text/javascript" src="./static/Cesium152/Cesium_ext_min.js"></script>
        <script type="text/javascript" src="./static/Cesium152/Cesium_GGS_min.js"></script>
        <link rel="stylesheet" href="./static/Cesium152/Widgets/widgets.css" type="text/css" /> -->
        <script type="text/javascript" src="./static/CesiumAPI/Cesium.js"></script>
        <script type="text/javascript" src="./static/CesiumAPI/Cesium_ext_min.js"></script>
        <!-- <script type="text/javascript" src="./static/CesiumAPI/Cesium_GGS_min.js"></script> -->
        <link rel="stylesheet" href="./static/CesiumAPI/Widgets/widgets.css" type="text/css" />
        <!-- <script type="text/javascript" src="./static/Cesium14/Cesium.js"></script>
        <script type="text/javascript" src="./static/Cesium14/Cesium_ext_min.js"></script>
        <link rel="stylesheet" href="./static/Cesium14/Widgets/widgets.css" type="text/css" /> -->
        <script type="text/javascript" src="./static/gui/dat.gui.min.js"></script>
    </head>
    <body>
        <div id="map" style="width: 100%;height: 800px;"></div>
    </body>
    <script>
        // //定义配置对象
        var Cfg = {};
        // //配置参数，是否添加天地图
        Cfg.isTDT = 'true';
        // //系统主机IP地址
        // Cfg.host = window.location.host;
        // //项目名称
        // Cfg.projectName = window.location.pathname.split('/')[1];
        // //代理服务地址
        // Cfg.proxyHostUrl = 'http://' + Cfg.host + '/' + Cfg.projectName + '/proxy?url=';
        // GeoGlobe.Request.setProxyHost(Cfg.proxyHostUrl);
        /*************************************************************************************/
        var simple = {
            version: 8,
            sources: {},
            layers: [],
        };
        var wgs84_wgs84_mapcrs = {
            topTileExtent: [-180, -270, 180, 90],
            coordtransform: 'none',
        };

        //构造地图对象实例,并添加到id为map的div容器中
        var map = new GeoGlobe.Map({
            mapCRS: wgs84_wgs84_mapcrs,
            style: simple,
            container: 'map',
            zoom: 5,
            center: [115.8573, 28.681],
            // isIntScrollZoom: true, //缩放级别是否为整数处理模式
            // renderWorldCopies: false,
            // isAttributionControl: false,
            // is3Dpitching: false, //是否到指定层级自动倾斜
            // pitch3Dzoom: 16, //自动倾斜的层级，默认16
        });
        var isTDT = eval(Cfg.isTDT);
        //判断是否添加天地图
        if (isTDT && isTDT === true) {
            map.on('load', function(e) {
                //简单加载天地图wmts的样例代码
                var token = 'e90d56e5a09d1767899ad45846b0cefd';
                var layer_vtc = new GeoGlobe.TDTLayer('img_c', token); //  天地图图层名称。值有："vec_w","cva_w","vec_c"或"cva_c" "img_c"(影像图层)"cia_c"(影像图层标记)。 分别表示墨卡托底图，墨卡托注记层，经纬度底图，经纬度注记层。
                var layer_cva = new GeoGlobe.TDTLayer('cia_c', token);
                map.addLayer(layer_vtc);
                map.addLayer(layer_cva);
            });
        }
    </script>
</html>
